@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto&display=swap');

/* css reset  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* utility classes  */
.container {

    max-width: 90%;
    margin: auto;

}

.btn-light {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: rgb(19, 18, 18);
    padding: .7rem 2rem;
    border: none;
    border-radius: .5rem;
}

.btn-light:hover {
    background-color: darkgray;
    color: rgb(19, 18, 18);
}

/*navbar styles*/

nav {
    background-color: rgb(46, 46, 46);
    position: sticky;
    top: 0;
}

.navBar {
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.mainNav ul {
    display: flex;
    list-style: none;
    /* justify-content: space-between; */
}

.navBar ul li {

    padding: 1rem;
    font-size: 1.2rem;
}

.navBar a {
    color: white;
    text-decoration: none;
}

.logo {
    padding: .8rem;
}

.navBar li:hover,
.logo:hover {
    background-color: rgb(19, 18, 18);
}

/* showCase styles */

#showCase {
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    color: white;
    height: 100vh;
}

#showCase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, .7);

}

#showCase-content h2 {
    font-size: 3rem;
    padding: 1rem 0rem;
    font-family: 'Fira Mono', monospace;
}

#showCase-content p {
    font-size: 1.2rem;
    padding: 1rem 0rem 2rem 0rem;
    font-family: 'Roboto', sans-serif;
}