@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto&display=swap');

/* css reset  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* utility classes  */
.container {

    max-width: 90%;
    margin: auto;

}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .7rem 2rem;
    border: none;
    border-radius: .5rem;
}

.btn-light {
    background-color: white;
    color: rgb(19, 18, 18);
}

.btn-dark {
    color: white;
    background-color: rgb(19, 18, 18);
}

.btn-light:hover {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    color: white;
    background-color: chocolate;
}


.primaryText {
    color: chocolate;
}

.headingText {
    padding-bottom: 2rem;
    font-size: 2rem;
    font-family: 'Fira Mono', monospace;
}

.sectionText {
    font-size: 1.2rem;
    color: rgb(19, 18, 18);
    padding-bottom: 2rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

/*navbar styles*/

nav {
    background-color: rgb(46, 46, 46, .7);
    position: fixed;
    top: 0;
    width: 100%;
}

.navBar {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.mainNav ul {
    display: flex;
    list-style: none;
    align-items: center;
}


.navBar a {
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    border-radius: 1.2rem;
}

.navBar .logo a {
    font-family: 'Fira Mono', monospace;
    border-radius: 1.5rem;
}


.navBar a:hover {
    background-color: rgb(19, 18, 18);
}

/* showCase styles */

#showCase {
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    color: white;
    height: 100vh;
}

#showCase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, .7);
    /* padding: 0rem 5rem; */

}

#showCase-content h2 {
    font-size: 3rem;
    padding: 1rem 0rem;
    font-family: 'Fira Mono', monospace;
}

#showCase-content p {
    font-size: 1.2rem;
    padding: 1rem 0rem 2rem 0rem;
}

/* who section styling */

#Who {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
}

#Who-img {
    background: url("../img/who_img.jpg") no-repeat center center/cover;
    width: 50%;
}

#Who-content,
#What-content {
    width: 50%;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Gallery {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(19, 18, 18);
    color: white;
}



.specialty {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2.6rem 2rem 4.6rem 2rem;
}

.specialty i {
    padding: 2rem 0;
}

.specialty h3 {
    font-family: 'Fira Mono', monospace;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

#What {
    display: flex;
    height: 50vh;
    justify-content: space-evenly;
}


#What-img {
    background: url('../img/What_img.jpg') no-repeat center center/cover;
    width: 50%;
}

#Where {
    background: url('../img/Where_img.jpg') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

#Where div {
    background-color: rgb(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    background-color: rgb(19, 18, 18);
    color: white;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer a {
    color: inherit;
}

footer p {
    margin-bottom: 1rem;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer ul i {
    margin-right: 1rem;
}